---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  beets:
    image: linuxserver/beets
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
      - TZ={{ common_timezone }}
    volumes:
      - "{{ volumes_root }}/beets/config:/config"
      - "{{ storage_dir }}/Music:/music"
      - "{{ storage_dir }}/Downloads/Music:/downloads"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.beets.loadbalancer.server.scheme=http"
      - "traefik.http.services.beets.loadbalancer.server.port=8337"
      - "traefik.http.routers.beets-http.rule=Host(`beets.{{ domain }}`)"
      - "traefik.http.routers.beets-http.entrypoints=http"
      - "traefik.http.routers.beets-http.middlewares={% if beets.https_only %}redirect@file, {% else %}{% if beets.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.beets.rule=Host(`beets.{{ domain }}`)"
      - "traefik.http.routers.beets.entrypoints=https"
      - "traefik.http.routers.beets.middlewares={% if beets.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.beets.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.beets.tls.certresolver=dns"
      - "traefik.http.routers.beets.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.beets.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.beets.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.beets-tor-http.rule=Host(`beets.{{ tor_domain }}`)"
      - "traefik.http.routers.beets-tor-http.entrypoints=http"
      - "traefik.http.routers.beets-tor-http.middlewares={% if beets.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}