---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  nextcloud:
    image: hoellen/nextcloud:18.0
    networks:
      - traefik_network
    depends_on:
      - nextcloud-db
    environment:
      - UID={{ uid }}
      - GID={{ gid }}
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ={{ common_timezone }}
      - DOMAIN=localhost
      - DB_TYPE=mysql
      - DB_NAME=nextcloud
      - DB_USER=nextcloud
      - DB_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_password chars=digits')}}"
      - DB_HOST=nextcloud-db
    volumes:
      - "{{ volumes_root }}/nextcloud/config:/config"
      - "{{ storage_dir }}/Documents/NextCloud:/data"
      - "{{ volumes_root }}/nextcloud/apps:/apps2"
      - "{{ volumes_root }}/nextcloud/themes:/nextcloud/themes"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=8888"
      - "traefik.http.routers.nextcloud-http.rule=Host(`nextcloud.{{ domain }}`)"
      - "traefik.http.routers.nextcloud-http.entrypoints=http"
      - "traefik.http.routers.nextcloud-http.middlewares={% if nextcloud.https_only %}redirect@file, {% else %}{% if nextcloud.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.{{ domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=https"
      - "traefik.http.routers.nextcloud.middlewares={% if nextcloud.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.nextcloud.tls.certresolver=dns"
      - "traefik.http.routers.nextcloud.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.nextcloud.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.nextcloud.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.nextcloud-tor-http.rule=Host(`nextcloud.{{ tor_domain }}`)"
      - "traefik.http.routers.nextcloud-tor-http.entrypoints=http"
      - "traefik.http.routers.nextcloud-tor-http.middlewares={% if nextcloud.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  # If using MySQL
  nextcloud-db:
    image: mariadb:10.4
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/nextcloud/db:/var/lib/mysql"
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_root_password chars=digits')}}"
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_password chars=digits')}}"

