resource "digitalocean_ssh_key" "default" {
  name       = "HomelabOS Access Key"
  public_key = "${file("~/.ssh/id_rsa.pub")}"
}

resource "digitalocean_droplet" "web" {
  image = "ubuntu-18-04-x64"
  name = "homelabos"
  region = "{{ do_region | default('nyc1') }}"
  size = "512mb"
  ssh_keys = ["${digitalocean_ssh_key.default.fingerprint}"]
}
